<div>
    <app-topbar [isShowBackButton]="true"></app-topbar>
    <div class="skip-button" (click)="onSkipButtonClick()">Skip</div>

    <div class="img-container">
        <img src="assets/breast-milk-sharing.png" style="height: 15rem;" alt="breast-milk-sharing"/>
    </div>
    <div class="section">
        <h3>Breast milk sharing</h3>
        <h6>We are a breastmilk sharing platform, connecting mothers in Singapore</h6>
    </div>
    <div class="pagination-wrapper">
        <div class="pagination">
          <span class="active"></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    <div class="next-button" (click)="onNextButtonClick()">Next</div> 
</div>
