<app-topbar [isShowBackButton]="true" [backButtonPath]="'home'" ></app-topbar>
<div *ngIf="this.currentUser !== undefined">
    <div class="mt-1" style="font-size: 22px;">Notifications on my listings</div>
    <div *ngIf="this.notifications.length === 0">
        <div style="font-size: 14px; text-align:center;">You have no notifications.</div>
    </div>
    <div class="notifications">
        <div  *ngFor="let notification of this.notifications">
            <app-notification-box 
                [senderFirstName]='notification.sender_firstname'
                [senderLastName]='notification.sender_lastname'
                [type]="notification.type"
                [listingID]="notification.listingID"
                [notificationID]="notification.notificationID"
                [dateOfNotification]="notification.createdAt"
                [isRead]="notification.read"
                [senderID]="notification.sender_userID"
            ></app-notification-box>
        </div>
    </div>      
</div>

<app-bottom-nav [isDonor]="this.isDonor"></app-bottom-nav> 
