<app-topbar [isShowBackButton]="true"></app-topbar>
<div>
    <div class="section-header" *ngIf="this.type != this.TYPE_SETTINGS">
        <h3>Lifestyle Information</h3>
        <div style="margin-top: -5px; line-height: 20px;">Fill in these details to help us better meet your needs</div>
        <div class="progress" style="height:3px; margin-top:10px">
        <div class="progress-bar" style="width: 50.0%; background: #E793A2;" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div class="section-header" *ngIf="this.type == this.TYPE_SETTINGS">
        <h3>Lifestyle Information</h3>
    </div>
    
    <div class="statement">
        <div>I do not smoke</div>
        <div class="agree-checkbox">
            <div class="toggle-button">
                <div class="yes-button" id="smoker-toggle-yes" (click)="changeSmokerFormValue(false)">
                    Yes
                </div>
                <div class="no-button" id="smoker-toggle-no"  (click)="changeSmokerFormValue(true)">
                    No
                </div>
            </div>
        </div>
    </div>

    <div class="statement">
        <div>I do not drink alcohol</div>
        <div class="agree-checkbox">
            <div class="toggle-button">
                <div class="yes-button" id="alcohol-toggle-yes" (click)="changeAlcoholFormValue(false)">
                    Yes
                </div>
                <div class="no-button" id="alcohol-toggle-no"  (click)="changeAlcoholFormValue(true)">
                    No
                </div>
            </div>
       </div>
    </div>

    <div class="statement">
        <div>Do not routinely consume three or more cups of coffee, tea, or other caffeine stimulant drinks per day including cola and stimulant drinks.</div>
        <div class="agree-checkbox">
            <div class="toggle-button">
                <div class="yes-button" id="caffeine-toggle-yes" (click)="changeCaffeineFormValue(false)">
                    Yes
                </div>
                <div class="no-button" id="caffeine-toggle-no"  (click)="changeCaffeineFormValue(true)">
                    No
                </div>
            </div>
        </div>
    </div>

    <div class="next-button" (click)="onNextButtonClick()" *ngIf="this.type != this.TYPE_SETTINGS">
        Next
    </div>

    <div class="next-button" (click)="onNextButtonClick()" *ngIf="this.type == this.TYPE_SETTINGS">
        Save
    </div>


</div>
