<div>
    <div class="header-container">
        <img src="assets/collactive.png" style="height: 1.5rem;" alt="COLLACTIVE"/>
        <h6 class="skip-option" (click)="onSkipButtonClick()">Skip</h6>
    </div>
    <div class="img-container">
        <img src="assets/join-the-community.png" style="height: 15rem;" alt="donate"/>
    </div>
    <div class="section">
        <h3>Join the community</h3>
        <h6>We aim to build a community of strong and empowered mothers</h6>
    </div>
    <div class="pagination-wrapper">
        <div class="pagination">
          <span></span>
          <span></span>
          <span></span>
          <span class="active"></span>
        </div>
      </div>
    <div class="next-button" (click)="onNextButtonClick()">Next</div> 
</div>
