<div>
    <app-topbar [isShowBackButton]="true"></app-topbar>
    <div class="skip-button" (click)="onSkipButtonClick()">Skip</div>

    <div class="img-container">
        <img src="assets/join-the-community.png" style="height: 15rem;" alt="donate"/>
    </div>
    <div class="section">
        <h3>Join the community</h3>
        <h6>We aim to build a community of strong and empowered mothers</h6>
    </div>
    <div class="pagination-wrapper">
        <div class="pagination">
          <span></span>
          <span></span>
          <span></span>
          <span class="active"></span>
        </div>
      </div>
    <div class="next-button" (click)="onNextButtonClick()">Next</div> 
</div>
