<div class="bottom-navbar">
    <div class="nav-item" (click)="navigatePath('/home')" [ngStyle]=" {'color' : this.currentPath == '/home' ? '#F38397' : '#546684' }" >
        <i class="fa fa-home" ></i>
        Home
    </div>
    <div class="nav-item" (click)="navigatePath('/marketplace')" [ngStyle]=" {'color' : this.currentPath == '/marketplace' ? '#F38397' : '#546684' }" >
        <i class="fa fa-shopping-bag" ></i>
        Marketplace
    </div>
    <div class="nav-item" (click)="navigatePath('/landing/articles')" [ngStyle]=" {'color' : this.currentPath == '/landing/articles' ? '#F38397' : '#546684' }" >
        <i class="fa fa-book"></i>
        Education
    </div>
</div>
<a (click)="navigatePath('/new-listing')">
    <div class="add-button" *ngIf="this.isDonor">
        <i class="fa fa-plus"></i>
    </div>
</a>