<app-topbar [isShowBackButton]="true" [backButtonPath]="'profile-setup/type-setup'"></app-topbar>
<div>
  <div class="section-header">
    <h3>Basic Profile Details</h3>
    <div style="margin-top: -5px; line-height: 20px;">Fill in these details to help us better meet your needs</div>
    <div class="progress" style="height:3px; margin-top:10px">
      <div class="progress-bar" style="width: 16.67%; background: #E793A2;" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="details">
    <div class="profile-photo">
      <div>
        <span style="display:flex; justify-content:center;">Set Profile Photo</span>
        <div class="photo-upload" id="frame" onclick="document.getElementById('getFile').click()">
          <i class="fa fa-plus" id="plus-icon"></i>
        </div>
        <input type='file' id="getFile" style="display:none" (change)="onImgSelected($event)">
      </div>
    </div>
  </div>
  <form class="form-inline">
    <div class="form-group" style="margin-top:50px;">
    <div>Date of Birth</div>
      <div class="input-group" style="display: flex; align-items:center">
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" [maxDate]="maxDate" [(ngModel)]='dateOfBirth'>
        <div class="input-group-append">
          <i class="fa fa-calendar" style="font-size: 24px; margin-left: 10px;" (click)="d.toggle()" type="button"></i>
        </div>
      </div>
    </div>
  </form> 

  <div  style="margin-top:20px;">
    <div>Area of Residency</div>
    <select class="form-select" aria-label="Default select example" [(ngModel)]='areaOfResidency'>
      <option value="0">North</option>
      <option value="1">East</option>
      <option value="2">West</option>
      <option value="3">South</option>
      <option value="4">Central</option>
    </select>
  </div>
  <div class="next-button" (click)="onNextButtonClick()">
        <div style="margin-right: 10px;">Next</div>
        <i class="fa fa-arrow-right"></i>
    </div>
</div>
