<div *ngIf="!this.showFilterPage && !this.showSortPage">
    <app-topbar [isShowBackButton]="false" [isShowMenu]="true" [unreadMessageCount]="this.unreadMessageCount"></app-topbar>
    <div class="main-page-content">
        <div class="marketplace-header">
            <span style="font-size: 22px;">Marketplace</span>
            <div>
                <i class="fa fa-sort" style="margin-right: 0.5rem;" (click)="this.openSortPage()"></i>
                <i class="fa fa-filter" (click)="this.openFilterPage()"></i>
            </div>
        </div>
        <div class="listings" *ngIf="this.currentUser !== undefined">
            <div class="mt-3" *ngIf="this.liveListings !== undefined && this.liveListings.length === 0">
                <h6>Sorry, there are no listings that match your filters yet.</h6>
            </div>
            <div *ngFor="let listing of this.liveListings" id="{{listing.listingID}}" >
                <app-listing [listing]="listing" [attr.id]="listing.ID" [currentUserID]="this.currentUser.uid" [listingID]="listing.listingID"></app-listing>
            </div>
        </div>
    </div>
    <app-bottom-nav [isDonor]="this.isDonor"></app-bottom-nav> 
</div>

<div *ngIf="this.showFilterPage">
    <div class="top-icons">
        <i class="fa fa-arrow-left" (click)="this.closeFilterPage()" style="color:#3B485F; margin-top: 1px;" ></i>
        <span class="done-btn" (click)="this.applyFilter()">Done</span>
    </div>
    <app-filter-page 
        [dietaryRestrictions]='dietaryRestrictions'
        [milkType]='milkType'
        [donorBabyAge]='donorBabyAge'
        [isOnHealthSupplements]='isOnHealthSupplements'
        [isHealthSupplementsFilterChosen] = 'isHealthSupplementsFilterChosen'
    ></app-filter-page>
</div>

<div *ngIf="this.showSortPage">
    <div class="top-icons">
        <i class="fa fa-arrow-left" (click)="this.closeSortPage()" style="color:#3B485F; margin-top: 1px;" ></i>
        <span class="done-btn" (click)="this.applySort()">Done</span>
    </div>
    <app-sort-page 
        [sortChoice] = 'this.sortChoice'
    ></app-sort-page>
</div>