.listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    height: 85vh;
    margin-top: 5px;
}

.marketplace-header {
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.top-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}