<div class="sort-filter-page">

    <div class="section">
        <span style="font-size: 20px; text-decoration: underline;">Filter:</span>
        
        <form class="form-inline">
            <div class="filter-section">
                <span>Type of Milk</span>
                <div id="milk-type-choices">
                    <div class="form-check form-check-inline" id="fresh-choice">
                        <input   class="form-check-input" type="radio" name="milkType" id="fresh" value='Fresh' [(ngModel)]="milkType">
                        <label class="form-check-label" for="female">Fresh</label>
                    </div>
                    <div class="form-check form-check-inline" id="frozen-choice">
                        <input   class="form-check-input" type="radio" name="milkType" id="frozen" value='Frozen' [(ngModel)]="milkType">
                    <label class="form-check-label" for="male">Frozen</label>
                    </div>
                </div>
            </div>

        </form>
        <div class="filter-section">
            <div>Donor's Diet</div>
            <div style="display: flex; flex-wrap: wrap;">
                <div class="list-group-item" *ngFor="let restriction of this.dietaryRestrictions">
                    {{restriction.name}}
                    <input class="form-check-input pull-right" [(ngModel)]="restriction.checked"
                    type="checkbox" value="true" id="flexCheckDefault">
                </div>
            </div>
        </div>

        <div class="filter-section" >
            <div id="choose-health-supplements">
                <div>Health Supplements</div>
                <input class="form-check-input pull-right" [(ngModel)]="isHealthSupplementsFilterChosen"
                    type="checkbox" value="true" id="flexCheckDefault">
            </div>
            <div [ngClass]="this.isHealthSupplementsFilterChosen ? 'toggle-button active' : 'toggle-button inactive'">
                <div class="yes-button" id="yes-button" (click)="addHealthSupplementsFilterYes()">
                    Yes
                </div>
                <div class="no-button" id="no-button"  (click)="addHealthSupplementsFilterNo()">
                    No
                </div>
            </div>
        </div>
        
        <div class="filter-section">
            <form class="form-inline">
                <span>Donor's Baby Age</span>
                <div class="donor-baby-age">
                    <div class="form-check form-check-inline donor-baby-age-choice" id="one-month-choice">
                        <input   class="form-check-input" name="donorBabyAge" type="radio"  id="one-month" value="1" [(ngModel)]="donorBabyAge">
                        <label class="form-check-label" > &lt; 1 month </label>
                    </div>
                    <div class="form-check form-check-inline donor-baby-age-choice" id="six-month-choice">
                        <input   class="form-check-input" name="donorBabyAge" type="radio" id="six-month" value="2" [(ngModel)]="donorBabyAge">
                        <label class="form-check-label" >&lt; 6 months </label>
                    </div>
                    <div class="form-check form-check-inline donor-baby-age-choice" id="three-month-choice">
                        <input   class="form-check-input" name="donorBabyAge" type="radio" id="three-month" value="3" [(ngModel)]="donorBabyAge">
                        <label class="form-check-label" >&lt; 3 months </label>
                    </div>
                    <div class="form-check form-check-inline donor-baby-age-choice" id="more-six-month-choice">
                        <input   class="form-check-input" name="donorBabyAge" type="radio" id="more-six-month" value="4" [(ngModel)]="donorBabyAge">
                        <label class="form-check-label" >&gt; 6 months </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="filter-section">
            <span class="clear-filter-sort"  (click)="this.clearFilters()">
                Clear Filters
            </span>
        </div>
    </div>


</div>