.sort-filter-page {
    overflow-y: scroll;
}

.sort-factor {
    padding: 0.3rem;
    border: 1.5px solid #3B485F;
    box-sizing: border-box;
    border-radius: 40px;
    margin-right: 10px;
    margin-top: 10px;
}

.section {
    margin-top: 10px;
}

#milk-type-choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25rem;
}

#frozen-choice {
    margin-right: 4rem;
}

.form-check-input {
    margin: 5px;
    width: 1.25em;
    height: 1.25em;
    background: #F1ECE9;
    border-color: #F1ECE9;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-check {
    padding-left: 0px;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.form-check-input:checked[type=checkbox] {
    background-image: url('../../../assets/check-solid.svg');
    opacity: 0.4;
}

.form-check-input {
    margin-right: 10px;
}

.form-check-input:checked[type=radio] {
    background-image: url('../../../assets/circle-solid.svg');
    opacity: 0.4;
}

.list-group-item {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    font-size: 14px;
}

.toggle-button {
    width: 30%;
    height: 36px;
    background: #fff;
    border-radius: 40px;
    flex-direction: row;
    display: flex;
}


.yes-button {
    width: 50%;
    height: 36px;
    background: #fff;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #9896AF;
    ;
}

#choose-health-supplements {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.no-button {
    width: 50%;
    height: 36px;
    color: #FFFFFF;
    border-radius: 40px;
    background: #546684;
    justify-content: center;
    align-items: center;
    display: flex;
}

.filter-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.donor-baby-age {
    display: flex;
    flex-wrap: wrap;
}

.donor-baby-age-choice {
    width: 130px;
    display: flex;
    align-items: center;
    padding: 0.5rem 0rem;
}

.inactive {
    opacity: 0.5;
}

.clear-filter-sort {
    /* darker grey */

    background: #EBEBEB;
    /* button */

    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    cursor: pointer;

    padding: 6px 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;

}