.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

img {
    margin: auto;
    display: block;
}

.next-button {
    margin: auto;
    background-color: #F38397;
}
