.img-container {
  display: flex;
  padding: 1rem;
}

img {
  margin: auto;
  display: block;
}

.carousel-caption {
  filter: invert(100%);
}

.carousel-img {
  filter: invert(100%);
  width: 80vw;
  margin-bottom: 8rem;
}

.guide-img {
  margin-top: 1rem;
  width: 70vw;
}

.caption {
  margin-top: 1rem;
  text-align: center;
}

.carousel-box {
  height: 50vh;
  margin-top: 1rem;
}

.next-button {
  margin: auto;
  margin-top: 3rem;
  background-color: #f38397;
}

.col-12 {
  filter: invert(100%);
}

.next-button {
  margin-bottom: 2rem;
  margin-top: 0rem;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
}