.img-container {
    display: flex;
    padding: 1rem;
}

img {
    margin: auto;
    display: block;
}

.carousel-caption {
    filter: invert(100%);
}

.carousel-img {
    filter: invert(100%);
    width: 80vw;
    margin-bottom: 8rem;
}

.carousel-box {
    height: 50vh;
    margin-top: 1rem;
}

.next-button {
    margin: auto;
    margin-top: 3rem;
    background-color: #F38397;
}

.col-12 {
    filter: invert(100%);
}