<app-topbar [isShowBackButton]="false" [isShowMenu]="true"></app-topbar>
<div *ngIf="this.currentUser !== undefined && this.currentUserData !== undefined">

    <div class="welcome-header">
        <div class="mt-3" style="font-size: 22px;">Hello, {{currentUserData.firstName}} {{currentUserData.lastName}}.</div>
        <div class="mt-3 donor-label" *ngIf="this.isDonor">
            Donor
        </div>
    </div>
    <div *ngIf="this.isDonor">
        <div style="font-size: 18px;">Notifications</div> 
        <div *ngIf="this.notifications.length === 0" >
            <div class="no-notif-box">
                <i class="fa fa-bell"></i>
                <div style="font-size: 14px; text-align:center;">No new notifications.</div>
            </div>
            <div style="text-decoration: underline; text-align: center; font-size: small;  margin-top: 4px;" (click)="this.goToNotificationPage()">See activity</div>
        </div>
        <div class="notifications" *ngIf="this.notifications.length > 0" >
            <div *ngIf="this.notifications.length > 0" style="text-decoration: underline; font-size: small;" 
                (click)="this.readAllNotifications()">Read all
            </div>
            <div  *ngFor="let notification of this.notifications">
                <app-notification-box 
                    [senderFirstName]='notification.sender_firstname'
                    [senderLastName]='notification.sender_lastname'
                    [type]="notification.type"
                    [listingID]="notification.listingID"
                    [notificationID]="notification.notificationID"
                    [dateOfNotification]="notification.createdAt"
                    [isRead]="notification.read"
                    [senderID]="notification.sender_userID"
                ></app-notification-box>
            </div>
            <div style="text-decoration: underline; text-align: center; font-size: small;" (click)="this.goToNotificationPage()">See all</div>
        </div>
        <div class="mt-1" *ngIf="(this.isEmailVerified && this.isCompleteProfile)">
          <div style="font-size: 18px;">My postings</div>
            <div *ngIf="this.currentUserListings.length === 0">
                <h6>You don't have any postings here yet. Start by creating a new post!</h6>
            </div>
            <div class=" listings">
                <div *ngFor="let listing of this.currentUserListings" id="{{listing.listingID}}" >
                    <app-listing [listing]="listing" [attr.id]="listing.ID" [currentUserID]="this.currentUser.uid" [listingID]="listing.listingID"></app-listing>
                </div>
            </div>
        </div>
        <div *ngIf=" !(this.isEmailVerified && this.isCompleteProfile)" class="loading" >
            <div>
                <div class="verify" *ngIf="!this.isEmailVerified">
                    Your email is not verified. 
                    <div class="prompt-button" (click)="resendVerificationEmail()">Resend verfication email</div>
                </div>
                <div class="verify" *ngIf="!this.isCompleteProfile">
                    Your profile setup is incomplete. 
                    <div class="prompt-button" (click)="navigateToProfileSettings()">Complete profile setup</div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="!this.isDonor">
        <div style="font-size: 18px;">Notifications</div> 
        <div *ngIf="this.notifications.length === 0" >
            <div class="no-notif-box">
                <i class="fa fa-bell"></i>
                <div style="font-size: 14px; text-align:center;">No new notifications.</div>
            </div>
            <div style="text-decoration: underline; text-align: center; font-size: small; margin-top: 4px;" (click)="this.goToNotificationPage()">See activity</div>
        </div>
        <div class="notifications" *ngIf="this.notifications.length > 0" >
            <div  *ngFor="let notification of this.notifications">
                <app-notification-box 
                    [senderFirstName]='notification.sender_firstname'
                    [senderLastName]='notification.sender_lastname'
                    [type]="notification.type"
                    [listingID]="notification.listingID"
                    [notificationID]="notification.notificationID"
                    [dateOfNotification]="notification.createdAt"
                    [isRead]="notification.read"
                    [senderID]="notification.sender_userID"
                ></app-notification-box>
            </div>
            <div style="text-decoration: underline; text-align: center; font-size: small;" (click)="this.goToNotificationPage()">See all</div>
        </div>
        <div class="mt-3" *ngIf="this.isEmailVerified && this.isCompleteProfile">
            <h3>New postings</h3>
            <div *ngIf="this.recentListings.length === 0">
                <h6>There are no new posts here yet.</h6>
            </div>
            <div class=" listings">
                <div *ngFor="let listing of this.recentListings" id="{{listing.listingID}}" >
                    <app-listing [listing]="listing" [attr.id]="listing.ID" [currentUserID]="this.currentUser.uid" [listingID]="listing.listingID"></app-listing>
                </div>
            </div>
        </div>
        <div *ngIf=" !(this.isEmailVerified && this.isCompleteProfile)" class="loading" >
            <div>
                <div class="verify" *ngIf="!this.isEmailVerified">
                    Your email is not verified. Please verify it.
                    <div class="prompt-button" (click)="resendVerificationEmail()">Resend verfication email</div>
                </div>
                <div class="verify" *ngIf="!this.isCompleteProfile">
                    Your profile setup is incomplete. Please complete it.
                    <div class="prompt-button" (click)="navigateToProfileSettings()">Complete profile setup</div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-bottom-nav [isDonor]="this.isDonor"></app-bottom-nav> 
