.listings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
    height: 51vh;
    margin-top: 10px;
}
.notifications {
    overflow-y: scroll;
    max-height: 18vh;
}
.fa.fa-bell {
    margin-right: 5px;
}

.no-notif-box {
    background: #F2F2F2;
    box-shadow: 3px 4px 6px 2px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    width: 100%;
    color: #9896AF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 50px;
}

.donor-label {
    width: 60px;
    border: 1px solid #F38397;
    text-align: center;
    border-radius: 40px;
    font-size: small;
    color: #F38397;
}
.welcome-header {
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.chat-button {
    background: #546684;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-align: center;
}
