<div class="start-page">
    <div class="top-icons">
        <i class="fa fa-arrow-left" (click)="this.closeChatrooms()" style="margin-top: 1px;"></i>
    </div>
</div>
<div *ngIf="!this.currentUserDetails || !this.chatrooms" class="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="mt-1" *ngIf="this.currentUserDetails && this.chatrooms" >
    <h1>Chats</h1>
    <div *ngIf="this.currentUserDetails.isDonor" class="filter-section"> 
        <div class="filter-button" (click)="filterByAsDonor()">As donor</div>
        <div class="filter-button" (click)="filterByAsReceiver()">As receiver</div>
    </div>
    <div *ngIf="chatrooms.length !== 0">
        <div class="mt-3" *ngFor="let chatroom of chatrooms">
            <div class="one-chat" (click)="onClickChatroom(chatroom)">
                <div class="photo-upload" id="frame-{{chatroom.receiverID}}"></div>
                <div class="details">
                    <div class="recipient-name">
                        {{chatroom.firstName}} {{chatroom.lastName}}
                    </div>
                    <div class="last-message">
                        {{chatroom.recentMessage.message}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3" style="text-align: center;" *ngIf="chatrooms.length === 0">
        There are no chats here yet.
    </div>
</div>
