<app-topbar [isShowBackButton]="true"></app-topbar>
<!-- <div class="start-page">
    <div class="top-icons">
        <i class="fa fa-arrow-left" (click)="this.closeChatrooms()" style="margin-top: 1px;"></i>
    </div>
</div> -->
<div *ngIf="!this.currentUserDetails || !this.chatrooms" class="loading">
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="mt-1" *ngIf="this.currentUserDetails && this.chatrooms" >
    <h1>Chats</h1>
    <!-- <div *ngIf="this.currentUserDetails.isDonor" class="filter-section">
        <div class="filter-button" (click)="filterByAsDonor(true)">As donor</div>
        <div class="filter-button" (click)="filterByAsDonor(false)">As receiver</div>
        <div class="filter-button" (click)="clearFilters()">Clear</div>
    </div> -->
    <div *ngIf="chatroomsLength > 0">
        <div class="mt-3" *ngFor="let chatroom of chatrooms | keyvalue: asIsOrder">
            <div class="one-chat" (click)="onClickChatroom(chatroom.value)">
                <div class="photo-upload" id="frame-{{chatroom.value.receiverID}}"></div>
                <div class="details">
                    <div class="recipient-name-or-last-message">
                        {{chatroom.value.firstName}} {{chatroom.value.lastName}}
                    </div>
                    <div class="listing-details">
                        {{chatroom.value.numberOfPacks}} x {{chatroom.value.volumePerPack}}ml {{chatroom.value.typeOfMilk}} milk
                    </div>
                    
                    <div *ngIf="chatroom.value.recentMessage.sentBy === this.currentUser.uid" class="recipient-name-or-last-message">
                        You: {{chatroom.value.recentMessage.message}}
                    </div>
                    <div *ngIf="chatroom.value.recentMessage.sentBy !== this.currentUser.uid" class="recipient-name-or-last-message">
                        {{chatroom.value.firstName}} {{chatroom.value.lastName}}: {{chatroom.value.recentMessage.message}}
                    </div>
                </div>
                <div *ngIf="chatroom.value.isListingOwner && chatroom.value.recentMsgsForDonor !== 0" class="chat-counter pull-right">
                    {{chatroom.value.recentMsgsForDonor}}
                </div>
                <div *ngIf="!chatroom.value.isListingOwner && chatroom.value.recentMsgsForReceiver" class="chat-counter pull-right">
                    {{chatroom.value.recentMsgsForReceiver}}
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3" style="text-align: center;" *ngIf="chatroomsLength === 0">
        There are no chats here yet.
    </div>
</div>
