.login-unsuccessful {
    color: #dc3545;
    text-align: center;
    margin-top: 5px;
    height: 20px;
}

.toggle-button {
    width: 80%;
    height: 36px;
    margin: auto;
    margin-top: 70px;
    background: #C4C4C4;
    border-radius: 40px;
    flex-direction: row;
    display: flex;
}


#header-text {
    font-size: 20px;
    font-weight: 450;   
}

.font-weight-bold {
    font-weight: 790;   
}

.sign-up-button {
    width: 50%;
    height: 36px;
    background: #C4C4C4;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #7C7474;
}

.log-in-button {
    width: 50%;
    height: 36px;
    color: #FFFFFF;
    border-radius: 40px;
    background: #E793A2;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-control {
    background-color: #F1ECE9;
    border-color: #F1ECE9;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: -8px;
}

.btn.btn-primary {
    background-color: #546684;
    width: 165px;
    height: 36px;
    border-color: #546684;
    border-radius: 42px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25));
}

.other-signin-btn {
    width: 70%;
    height: 36px;
    background: #F9F9F9;
    border: 1px solid #546684;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#google {
    margin-top: 5px;
}

.other-signin-options {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#signUpOptions {
    display: none;
}
#signUpForm {
    display: none;
}

.terms {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#terms-text {
    width: 80%;
    font-size: 12px;
}

.form-check-input {
    margin-right: 5px;
    width: 1.25em;
    height: 1.25em;
    border-radius: 0.4em;
    background: #F1ECE9;
    border-color: #F1ECE9;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.form-check-input:checked[type=checkbox] {
    background-image: url('../../../assets/check-solid.svg');
    opacity: 0.4;
}

/* TYPE SETUP */
.header-text {
    font-size: 20px;
    font-weight: 450;
    text-align: center;
}

.options {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.type-option {
    height: 244px;
    background: #FFEAEA;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    max-width: 143px;
    border-width: 0px;
    border-color: rgb(231, 147, 162);
    border-style: solid;
}

/* .type-option:focus {
    border: 2px solid #3B485F;
} */

.type-setup-img {
    border-bottom: 1px solid #3B485F;
}

.type-setup-text {
    display: flex;
    justify-content: center;
}

button:active {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
  }

.undecided-text {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
    text-decoration: underline;
}

/* .undecided-text:focus {
    box-shadow: 0px 0.20000000298023224px 7px 0px #00000040;
} */

.other-options {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}

.fa.fa-question-circle-o {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

#not-decided {
    border-radius: 10px;
    border-width: 4px;
    border-color: white;
    border-style: solid;
    padding: 2px;
}

.bottom-buttons {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin-top: 20px;
}