<div>
    <app-topbar [isShowBackButton]="true"></app-topbar>
    <div class="skip-button" (click)="onSkipButtonClick()">Skip</div>
    <div class="img-container">
        <img src="assets/receive.png" style="height: 15rem;" alt="receive"/>
    </div>
    <div class="section">
        <h3>Receive</h3>
        <h6>Find suitable breastmilk donors with our curated and in depth filters</h6>
    </div>
    <div class="pagination-wrapper">
        <div class="pagination">
          <span></span>
          <span></span>
          <span class="active"></span>
          <span></span>
        </div>
      </div>
    <div class="next-button" (click)="onNextButtonClick()">Next</div> 
</div>
