<app-topbar [isShowBackButton]="false"></app-topbar>
<div class="overall">
    <div class="header-text">Welcome to the community<br/>Join as a</div>
    <div class="options">
        <div class="type-option" id="donor"(click)="onClickDonor()" >
            <img class="type-setup-img" src="../../assets/type-setup-donor.png" alt="Donor" />
            <span class="type-setup-text">Donor</span>
        </div>

        <div class="type-option" id="receiver" (click)="onClickReceiver()">
            <img class="type-setup-img" src="../../assets/type-setup-receiver.png" alt="Receiver" />
            <span class="type-setup-text">Receiver</span>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px;" (click)="this.openInfoModal()">
        <i class="fa fa-question-circle-o"> </i>
    </div>
</div>


