<app-topbar [isShowBackButton]="false" [backButtonPath]=""></app-topbar>
<div class="overall">
    <div class="header-text">Welcome to the community<br/>Join as a</div>
    <div class="options">
        <div>
            <div class="type-option" id="donor"(click)="onClickDonor()" >
                <img class="type-setup-img" src="../../assets/type-setup-donor.png" alt="Donor" />
                <span class="type-setup-text">Donor</span>
            </div>
        </div>
        <div>
            <div class="type-option" id="receiver" (click)="onClickReceiver()">
                <img class="type-setup-img" src="../../assets/type-setup-receiver.png" alt="Receiver" />
                <span class="type-setup-text">Receiver</span>
            </div>
        </div>
    </div>
    <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 20px;">
        <i class="fa fa-question-circle-o"> </i>
        <div class="next-button" (click)="onNextButtonClick()" style="margin-top: 0px;">
            <div >Next</div>
        </div>
    </div>
</div>