<app-topbar [isShowBackButton]="false" [backButtonPath]=""></app-topbar>
<div class="overall">
    <div class="header-text">Welcome to the community<br/>Join as a</div>
    <div class="options">
        <div class="type-option" id="donor">
            <img class="type-setup-img" src="../../assets/type-setup-donor.png" alt="Donor" />
            <span class="type-setup-text">Donor</span>
        </div>
        <div class="type-option" id="receiver">
            <img class="type-setup-img" src="../../assets/type-setup-receiver.png" alt="Receiver" />
            <span class="type-setup-text">Receiver</span>
        </div>
    </div>
    <div class="other-options">
        <i class="fa fa-question-circle-o"> </i>
        <span class="undecided-text">I have not decided</span>
    </div>
    <div class="next-button">
        <div style="margin-right: 10px;">Next</div>
        <i class="fa fa-arrow-right"></i>
    </div>
</div>