
<div class="full-modal">
    <div type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </div>
    
    
    <div class="info">
        <img class="type-setup-img" src="../../assets/type-setup-receiver.png" alt="Receiver" />
        <div class="info-text">
            As a donor you will be able to post listings of breastmilk onto our marketplace.
        </div>
    </div>
    
    <div class="info">
        <img class="type-setup-img" src="../../assets/type-setup-donor.png" alt="Donor" />
        <div class="info-text">
            As a receiver you will not be able to post listings of breastmilk. You will still able to access the marketplace and receive breastmilk from donors.
        </div>
    </div>
</div>