.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-text {
    width: 50%;
}

.full-modal {
    padding: 1rem;
}

.close {
    display: flex;
    justify-content: flex-end;
}