<app-topbar [isShowBackButton]="true"></app-topbar>
<div>
    <div class="section-header">
        <h3>Health Declarations</h3>
        <div style="margin-top: -5px; line-height: 20px;">Fill in these details to help us better meet your needs</div>
        <div class="progress" style="height:3px; margin-top:10px">
        <div class="progress-bar" style="width: 33.3%; background: #E793A2;" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    
    <div class="statement">
        <div>I have not had any body piercing or tattooing done in the last 12 months including acupuncture and eyebrow embroidery.</div>
        <div class="agree-checkbox">
            <span>Agree</span>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
        </div>
    </div>

    <div class="statement">
        <div>I have not lived in or travelled to the UK between 1980 and 1996 for a total or cumulative period of 6 months.</div>
        <div class="agree-checkbox">
            <span>Agree</span>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div> 
       </div>
    </div>

    <div class="statement">
        <div>I have not tested positive for HIV, Hepatitis B and C or Syphilis.</div>
        <div class="agree-checkbox">
            <span>Agree</span>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
        </div>
    </div>

    <div class="statement">
        <div>I do not use illegal drugs or other prohibited substances.</div>
        <div class="agree-checkbox">
            <span>Agree</span>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            </div>
    </div>
    <div class="next-button" (click)="onNextButtonClick()">
        <div style="margin-right: 10px;">Next</div>
        <i class="fa fa-arrow-right"></i>
    </div>
    <div class="unsuccessful-text">{{this.didNotCheckAllBoxesMessage}}</div>

</div>