.sidebar {
    z-index: 99;
    top: -10px;
    left: -10px;
    position: absolute;
    background: white;
    width: 46vw;
    height: 101vh;
    padding-top: 10px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.photo-upload {
    height: 30vw;
    width: 30vw;
    margin-top: 50px;
    /* darker beige */
    margin-left: auto;
    margin-right: auto;
    background: #EFEFEF;
    /* drop big */
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
} 
.name {
    text-align: center;
    color: #3B485F;
    margin-top: 10px;
    font-size: 20px;
}
.menu-item {
    padding: 5px;
    border: 1px solid #FFFFFF;
    text-align: center;
    color: #3B485F;
}

.close {
    position: absolute;
    top: 10px;
    left: 10px;
}
a {
    border: 1px solid #FFFFFF;
    color: #3B485F;
    text-decoration: underline;
}