<div class="sidebar">
    
    <div class="close" (click)='this.close()'>
        <i class="fa fa-times" style="color:black; margin-top: 1px;" ></i>
    </div>

    <div class="photo-upload" id="frame"></div>
    <div class="name">
        {{this.currUserFullName}}
    </div>
    <div class="donor-label"  *ngIf="this.isDonor" >
        Donor
    </div>
    <div>
        <div class= "menu-item" style="margin-top: 10px;">
            <a style="text-decoration: underline;" (click)="navigateToPath('/profile-settings')">
                Profile
            </a>
        </div>
        <div class= "menu-item">
            <a style="text-decoration: underline;" (click)="navigateToPath('/faq')">
                FAQ
            </a>
        </div>
        <!-- <div class= "menu-item">
            <a style="text-decoration: underline;" (click)="navigateToPath('/change-status')">
                Change Status
            </a>
        </div> -->
        <div class= "menu-item" (click)="this.logout()">
            <a style="text-decoration: underline;">
                Logout
            </a>
        </div>
        <!-- <div class= "menu-item" (click)="this.deleteAccount()">
            <a style="text-decoration: underline;">
                Delete Account
            </a>
        </div> -->
    </div>
</div>