<div class="sort-filter-page">
    <div class="top-icons">
        <i class="fa fa-arrow-left" (click)="this.close()" style="color:#3B485F; margin-top: 1px;" ></i>
        <span class="done-btn" (click)="this.applyFilter()">Done</span>
    </div>

    <div class="sort">
        <span style="font-size: 20px; text-decoration: underline;">Sort By:</span>
        <div class="sort-section">
            <div class="sort-factor" id="date-expressed-sort" (click)="this.addDateExpressedFilter()">
                Date Expressed
            </div>
            <div class="sort-factor" id="date-posted-sort" (click)="this.addDatePostedFilter()">
                Date Posted
            </div>
        </div>
    </div>

    <div class="filter-section">

    </div>
</div>