/* You can add global styles to this file, and also import other style files */
.section-header {
    margin-top: 1.5rem;
}

.next-button {
    display: flex;
    width: 35%;
    justify-content: center;
    height: 36px;
    border-radius: 40px;
    background: #546684;
    margin-left: 65%;
    margin-top: 40px;
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25));
    color: white;
    align-items: center;
}

.next-button:hover {
    cursor: pointer;
}

.start-page {
    margin-top: 20px;
}

.prompt-button {
    background: #F38397;
    border-radius: 2rem;
    color: #fff;
    padding: 0.25rem 0.75rem;
    width: 60%;
    text-align: center;
}

.verify {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.donor-label {
    width: 60px;
    border: 1px solid #F38397;
    text-align: center;
    border-radius: 40px;
    color: #F38397;
}