<div class="listing-box">
    <div class="profile-photo" id="{{'frame-' + this.listingID}}" (click)="viewUser()">
        <i class="fa fa-user" id="{{'profile-icon-' + this.listingID}}"></i>
    </div>
    <!-- <div class="details-overlay">
        <div class="type-of-milk">
            {{this.typeOfMilk}}
        </div>
        <div class="status">
            {{this.status}}
        </div>
    </div> -->
    <div class="description">
        <div class="details" (click)=viewListing()>
            <div class="name">{{this.donorFirstName}}</div> 
            <div class="date-expressed">Expressed {{this.dateExpressedDaysAgo}}</div>
        </div>
        <div *ngIf="this.currentUserID !== this.listing.donorID" >
            <i class="fa fa-heart" id="like-button" (click)="likeListing()" [ngStyle]="{'color': this.isLiked ? '#F38397' : '#F9F9F9'}"></i>
        </div>
    </div>

</div>