.listing-box {
height: 25vh;
width: 35vw;
margin-left: 10px;
margin-top: 10px;
background: #F9F9F9;
box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.15);
border-radius: 10px;
padding: 5px;
}

.fa-heart {
    color:#F9F9F9;
    text-shadow: -1px -1px 0 #5A3939, 1px -1px 0 #5A3939, -1px 1px 0 #5A3939, 1px 1px 0 #5A3939; ;
}
.name-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.profile-photo {
    width: 30vw;
    height: 30vw;
    border-radius: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-user {
    font-size: 30px;
}

@media screen and (min-width: 576px) {
    .listing-box {
        width: 30vw;
    }
}

@media screen and (min-width: 768px) {
    .listing-box {
        width: 23vw;
    }
}

@media screen and (min-width: 992px) {
    .listing-box {
        width: 18vw;
    }
}

@media screen and (min-width: 1024px) {
    .listing-box {
        width: 15vw;
    }
}