.listing-box {
    height: 66vw;
    width: 42vw;
    margin-top: 10px;
    background: #F9F9F9;
    box-shadow: 0px 3px 10px -1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    }

.fa-heart {
    color:#F9F9F9;
    margin-top: 3px;
    text-shadow: -1px -1px 0 #3B485F, 1px -1px 0 #3B485F, -1px 1px 0 #3B485F, 1px 1px 0 #3B485F; ;
} 
.profile-photo {
    width: 42vw;
    height: 42vw;
    border-radius: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-user {
    font-size: 30px;
}

.description {
    display: flex;
    align-items: flex-start;
    padding: 5px;
    justify-content: space-between;
}

@media screen and (min-width: 576px) {
    .listing-box {
        width: 30vw;
        height: 40vw;
    }
    .profile-photo {
        width: 25vw;
        height: 25vw;
    }
}

@media screen and (min-width: 768px) {
    .listing-box {
        width: 23vw;
        height: 32vw;
    }
    .profile-photo {
        width: 20vw;
        height: 20vw;
    }
}

@media screen and (min-width: 992px) {
    .listing-box {
        width: 18vw;
        height: 25vw;
    }
    .profile-photo {
        width: 15vw;
        height: 15vw;
    }
}

@media screen and (min-width: 1024px) {
    .listing-box {
        width: 15vw;
        height: 20vw;
    }
    .profile-photo {
        width: 13vw;
        height: 13vw;
    }
}

.details-overlay {
    color: white;
    
}