<div class="listing-box">
    <div class="profile-photo" id="frame" (click)="viewUser()">
        <i class="fa fa-user" id="profile-icon"></i>
    </div>
    <div (click)=viewListing()>
        <div class="name-row">
            <div class="name">{{this.donorFirstName}}</div> 
            <i class="fa fa-heart" id="like-button" (click)="likeListing()"></i>
        </div>
        <div class="date-expressed">Expressed on {{this.dateExpressed.toLocaleString('en-US').split(',')[0]}}</div>
    </div>
</div>