<app-topbar [isShowBackButton]="true" [backButtonPath]="'login'"></app-topbar>
<div id="reset-form">
    <form [formGroup]="forgetPasswordForm" id="forgetPasswordForm" (ngSubmit)="onResetButtonClick()" >
        <div class="mb-3 mt-5">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="text" formControlName="email" class="form-control" id="email-login" aria-describedby="emailHelp">
            <div class="col-auto" *ngIf='this.Email.invalid'>
                <span id="passwordHelpInline" class="form-text">
                Please key in a valid email.
                </span>
            </div>
        </div>
        <div style="width: 100%; margin-top:1rem;">
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </div>
    </form> 
</div>
<div id="reset-message">
    Please reset via the link sent to your email.
</div>
