.btn.btn-primary {
    background-color: #8090D9;
    width: 165px;
    height: 36px;
    border-color: #8090D9;
    border-radius: 42px;
    margin-right: auto;
    margin-left: auto;
    filter: drop-shadow(0px 2px 6px rgba(170, 170, 170, 0.25));
    display: flex;
    align-items: center;
    justify-content: center;
}
#reset-form {
    display: block;
}
#reset-message {
    margin-bottom: 3rem;
    margin-top: 5rem;
    display: none;
    justify-content: center;
}