.request-button {
    background: #546684;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    padding: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    text-align: center;
    cursor: pointer;
    margin: auto;
    min-width: 45%;
    max-width: 80%;
}

.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
}


.top-bar {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.start-page {
    /* background */
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 0px;
    width: 100%;
    padding: 5px;
    height: 25vh;
    background: #F9F9F9;
    /* Notif drop */
    box-shadow: 3px 4px 6px 2px rgba(0, 0, 0, 0.03);
}

#accepted {
    background: #FAE9E9;
    color: #F38397;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 80%;
}

#reject {
    background: #9896AF;
    color: #FFF;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    width: 30%;
}

#accept {
    width: 65%;
}

#request-sent {
    background: #9896AF;
    border-radius: 15px;
    color: #FFFFFF;
}

#request {
    background: #3B485F;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    color: #FFFFFF;
    width: 60%;
}

#collacted {
    border: 1px solid #F38397;
    box-sizing: border-box;
    border-radius: 40px;
    color: #F38397;
}

#collact {
    background: #F38397;
    color: #FAE9E9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;

}

.side-by-side-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.messages-area {
    position: absolute;
    top: 26vh;
    left: 0px;
    height: 65vh;
    overflow-y: scroll;
    width: 100%;
}

.message-list {
    display: flex;
    flex-direction: column;
    /* justify-content: end; */
}

.new-message-area {
    display: flex;
    padding: 5px;
    margin-top: 1vh;
    /* background */
    background: #F9F9F9;
    /* upwards */
    box-shadow: 0px -2px 10px 3px rgba(0, 0, 0, 0.08);
    justify-content: space-around;
    align-items: center;
}

.new-message-box {
    width: 85%;
    background: #EBEBEB;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: none;
    overflow-y: auto;
    max-height: 10vh;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.send-btn {
    box-shadow: 3px 4px 6px 2px rgba(0, 0, 0, 0.03);
    background: #EBEBEB;
    border-radius: 50%;
    color: #F38397;
    width: 30px;
    margin-left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.message-area-receiver {
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: flex-start;
}

.message-area-sender {
    display: flex;   
    width: 100%;
    margin-top: 10px;
    justify-content: flex-end;
}

.message-receiver {
    background: #546684;
    max-width: 60%;
    padding: 5px;
    margin-left: 0.25rem;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.message-sender {
    padding: 5px;
    margin-right: 1.25rem;
    max-width: 60%;
    background: #F9F9F9;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

.new-message {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.photo-upload {
    /* darker beige */
    background: #f9f9f9;
    /* drop big */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin-right: 15px;
    box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background-size : cover;
} 

.second-row {
    margin-top: 0.25rem;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

.listing-details {
    padding: 0.25rem 0.5rem;
}

.photo-receiver {
    margin-left: 0.75rem;
}


.photo-donor {
    margin-right: 0.75rem;
}