<app-topbar [isShowBackButton]="true" (click)="this.updateLastSeen()"></app-topbar>
<div *ngIf="this.currentUser !== undefined">
    <div class="mt-2 text-danger" *ngIf="!this.isEmailVerified">
        Your email is not verified. Please verify it before chatting. 
        <button (click)="resendVerificationEmail()">Resend verfication email</button>
    </div>
    <div class="mt-2 text-danger" *ngIf="!this.isCompleteProfile">
        Your profile setup is incomplete. Please complete it before chatting.
        <button (click)="navigateToProfileSettings()">Complete profile setup</button>
    </div>
</div>
<div *ngIf="this.currentUserDetails">
    <div *ngIf="receiverDetails && listingID">
        <h2>To: {{receiverDetails.firstName}} {{receiverDetails.lastName}}</h2>
        <h3>listing: {{listingID}}</h3>
        <div *ngIf="messages">
            <div *ngFor="let message of messages">
                <h6>{{message.senderFirstName}} {{message.senderLastName}}: {{message.message}}</h6>
            </div>
        </div>
    </div>
    <div *ngIf="this.listingDetails !== undefined">
        <div *ngIf="this.currentGroupDetails !== undefined">
            <div *ngIf="!this.isListingOwner">
                <div *ngIf="this.currentGroupDetails.requestStatus === 'none'" 
                    class="mt-2 mb-2 request-button" (click)="handleListingRequest('')">
                        Request for breastmilk
                </div>
                <div *ngIf="this.currentGroupDetails.requestStatus === 'requested'" 
                    class="mt-2 mb-2 request-button" (click)="handleListingRequest('')">
                        Breastmilk donation requested
                </div>
                <div *ngIf="this.currentGroupDetails.requestStatus === 'accepted'" 
                    class="mt-2 mb-2 request-button" (click)="handleListingRequest('')">
                        Breastmilk donation accepted
                </div>
                <div *ngIf="this.currentGroupDetails.requestStatus === 'collacted'" 
                    class="mt-2 mb-2 request-button">
                        Breastmilk donation collacted!
                </div>
            </div>
        </div>
        <div *ngIf="this.currentGroupDetails !== undefined">
            <div *ngIf="this.isListingOwner">
                <div *ngIf="this.currentGroupDetails.requestStatus === 'requested'">
                    <div class="mt-2 mb-2 request-button" (click)="handleListingRequest('accept')">
                        Accept request
                    </div>
                    <div class="mt-2 mb-2 request-button" (click)="handleListingRequest('reject')">
                        Reject request
                    </div>
                </div>
                <div *ngIf="this.currentGroupDetails.requestStatus === 'accepted'">
                    <div class="mt-2 mb-2 request-button" (click)="handleListingRequest('collacted')">
                        Mark listing as collacted
                    </div>
                    <div class="mt-2 mb-2 request-button" (click)="handleListingRequest('reset')">
                        Reset listing
                    </div>
                </div>
                <div *ngIf="this.currentGroupDetails.requestStatus === 'collacted'">
                    <div class="mt-2 mb-2 request-button" (click)="handleListingRequest('reset')">
                        Reset listing to live
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input [(ngModel)]="newMessage">
        <button *ngIf="newMessage" (click)="send(newMessage)">Send</button>
    </div>
</div>
