.header{
    margin-top: 10px;
    font-size: 25px;
    line-height: 30px;
}

.section-title {
    margin-top: 10px;
}

.milk-type-choices {
    margin-top: 10px;
}

#fresh-choice {
    margin-right: 80px;
}

.number-input {
    width: 30%;
}

.row-number-input {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
}

#expressed-date-title {
    margin-top: 10px;
}

.form-control {
    margin-top: 10px;
}